<%-- 
    Document   : header
    Created on : Sep 18, 2018, 3:05:32 AM
    Author     : cassiano
--%>
  
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">        
<title>WEB2EX5-CRUD</title>-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju-1.12.1/jq-3.3.1/dt-1.10.18/datatables.min.css"/>    
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
          $('#t01').DataTable( {
              "language": {
                  "lengthMenu": "Mostrar _MENU_ itens por página",
                  "zeroRecords": "Nenhum resultado encontrado",
                  "info": "",
                  "infoEmpty": "Nada encontrado",            
                  "search" : "Pesquisar",
                  "infoFiltered": "(Filtrado _MAX_ entradas)",
                  "paginate": {
                    "first":      "Primeira",
                    "last":       "Ultima",
                    "next":       "Próxima",
                    "previous":   "Anterior"
                  },
              }
          } );
      } );
    </script>
    


